
.jewelry-container{
    display: flex;
    justify-content:  center;
    flex-direction: row;
    flex-wrap: wrap;
}

.title{
    
    letter-spacing: 3px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    margin-left: 40px;
    padding-bottom: 1rem;
    padding-top: 2rem;
}